*{
    margin: 0 auto;
    padding: 0;
}

body
{
    border: 1px solid gray;
    height: 900px;
    width: 950px;
    margin: 50px auto;
}
    
.nav_img
{
    background-image: url(../image/back.jpg);
    background-repeat: repeat-y;
    height: 805px;
    width: 200px;
    float: left;
}

.border_dash
{
    border-bottom: 3px dashed rgb(178, 120, 13);
    margin-top: 0px;
    width: 170px;
    padding: 5px;
    margin: 1px;
    font-size: 20px;
    color: purple;
}

h2
{
    color: orange;
    font-size: 35px;
}

.mid
{
    float: left;
    width: 700px;
    height: 500px;
}

footer
{
    clear: both;
    border-top: 4px solid orange;
    margin: 20px 5px 0px 15px;
    color: orange;
    font-size: 20px;
}

.para
{
    position: absolute;
    border: 3px solid gray;
    background-color:rgb(237, 161, 61);
    color: orange;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form3{
    width: 41%;
    height: 250px;
    border: 3px solid rgb(178, 120, 13);
    background-color: rgb(255, 245, 228);
    border-radius: 5px 2px 1px;
    float: right;
    margin-top: 50px;
    margin-left: 2px;
    
    box-shadow: 0px 0px 0px 10Apx rgb(213, 198, 35);
    color:rgb(207, 133, 7);
}

.tieude1{
    margin-top: 10px;
}

.form3 li{
    margin-left: 20px;
}
.form1{
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    color: rgb(178, 120, 13);
}
span{
    color: rgb(207, 133, 7);
    font-size: 20px;
}